  <section id="homepage-pages-two" data-type="background" data-speed="20" class="no-fouc">    
    <article class="row">
      <div class="pages-left-content desktop-12 tablet-6 mobile-3">
        {{ pages[settings.pages-2].content }}   
      </div>
    </article>
  </section>
  <div class="clear"></div>
