<div class="section-title">
  <h1 class="desktop-12 mobile-3">{{ page.title }}</h1>
</div>

<div id="page" class="desktop-12 tablet-12 mobile-3">
  <div class="rte">{{ page.content }}</div>
</div>

<div class="desktop-12 mobile-3">
<div class="desktop-8 mobile-3 tablet-8 contactdiv">
  {% include 'contact' %}

</div>
</div>

<center class="retailh3">
  <h3 class="ffuturpt"> Contact Information </h3> 
</center>
<h2 class="text-align-center ffuturpt"><strong>Retail</strong><br><br>Amour Vert<br>437 Hayes Street<br>San Francisco, CA 94107<br>Tel. 415.800.8576<br><strong><a href="mailto:hayesvalley@amourvert.com">hayesvalley@amourvert.com</a></strong></h2>

<h2 class="text-align-center ffuturpt"><strong>Press Inquiries</strong><br><br>BPCM<br>Nancy Cuocci<br>537 West 25th Street, 3rd FL<br>New York, NY 10001, USA<br>Tel. 212.741.0141<br><strong>nancy@bpcm.com</strong></h2>

<h2 class="text-align-center ffuturpt"><strong>Sales</strong><br><br>Amour Vert<br>1278 Minnesota Street Suite A<br>San Francisco, CA 94107<br>Tel. 650.847.1708<br><strong>sales@amourvert.com</strong></h2>

<h2 style="text-align:-webkit-center" class="ffuturpt">Wholesale Buyers: Find us on&nbsp;<a target="_blank" href="https://jooraccess.com/amourvert?utm_campaign=snippet&amp;utm_source=amourvert">JOOR</a><br><br>View our linesheets.<br>Place and track orders.</h2>

<center class="retailh3"><h3 class="ffuturpt"> Returns </h3> 
</center>
<h2 class="text-align-center ffuturpt">If you have purchased any item(s) from our previous online store and would like to return or exchange,&nbsp;along with any&nbsp;questions&nbsp;or concerns, please email your&nbsp;inquiries&nbsp;to&nbsp;<a href="mailto:returns@amourvert.com">returns@amourvert.com</a>.<br><br>Be sure to include your Name, Order #, Date of purchase, and the reason for your request.</h2>

